name: DevOps CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Setup Node
      uses: actions/setup-node@v3
      with:
        node-version: 18

    - name: Install Backend Dependencies
      run: |
        cd backend
        npm install

    - name: Install Frontend Dependencies
      run: |
        cd frontend
        npm install

    - name: Build Backend Docker Image
      run: docker build -t backend ./backend

    - name: Build Frontend Docker Image
      run: docker build -t frontend ./frontend
